xmlFiles/configExtractSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xlmns="http://mem4csd.telecom-paris.fr/heptaneExtract" targetNamespace="http://mem4csd.telecom-paris.fr/heptaneExtract" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CONFIGURATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INPUTOUTPUTDIR">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ARCHITECTURE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TARGET">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="NAME"/>
                      <xs:attribute type="xs:string" name="ENDIANNESS"/>
                      <xs:attribute type="xs:string" name="DATAPATH"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CACHE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="nbsets" use="optional"/>
                      <xs:attribute type="xs:byte" name="nbways" use="optional"/>
                      <xs:attribute type="xs:byte" name="cachelinesize" use="optional"/>
                      <xs:attribute type="xs:string" name="replacement_policy" use="optional"/>
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                      <xs:attribute type="xs:byte" name="level" use="optional"/>
                      <xs:attribute type="xs:byte" name="latency" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MEMORY">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="load_latency"/>
                      <xs:attribute type="xs:byte" name="store_latency"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ANALYSIS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ENTRYPOINT">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="entrypointname"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ICACHE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults" use="optional"/>
                      <xs:attribute type="xs:string" name="input_file" use="optional"/>
                      <xs:attribute type="xs:string" name="output_file" use="optional"/>
                      <xs:attribute type="xs:byte" name="level" use="optional"/>
                      <xs:attribute type="xs:string" name="must" use="optional"/>
                      <xs:attribute type="xs:string" name="persistence" use="optional"/>
                      <xs:attribute type="xs:string" name="may" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DATAADDRESS">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="sp"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DCACHE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults" use="optional"/>
                      <xs:attribute type="xs:string" name="input_file" use="optional"/>
                      <xs:attribute type="xs:string" name="output_file" use="optional"/>
                      <xs:attribute type="xs:byte" name="level" use="optional"/>
                      <xs:attribute type="xs:string" name="must" use="optional"/>
                      <xs:attribute type="xs:string" name="persistence" use="optional"/>
                      <xs:attribute type="xs:string" name="may" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="PIPELINE">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="IPET">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="solver"/>
                      <xs:attribute type="xs:string" name="pipeline"/>
                      <xs:attribute type="xs:string" name="attach_WCET_info"/>
                      <xs:attribute type="xs:string" name="generate_node_freq"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SESEANALYSIS">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CACHESTATISTICS">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SIMPLEPRINT">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="printcallgraph"/>
                      <xs:attribute type="xs:string" name="printloopnest"/>
                      <xs:attribute type="xs:string" name="printcfg"/>
                      <xs:attribute type="xs:string" name="printWCETinfo"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DOTPRINT">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="detailed_BB"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CODELINE">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="binaryfile"/>
                      <xs:attribute type="xs:string" name="addr2lineCommand"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="HTMLPRINT">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="keepresults"/>
                      <xs:attribute type="xs:string" name="input_file"/>
                      <xs:attribute type="xs:string" name="output_file"/>
                      <xs:attribute type="xs:string" name="colorize"/>
                      <xs:attribute type="xs:string" name="html_file"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
